@page "/"

<PageTitle>OptiMunch - Home</PageTitle>

<body style="background: linear-gradient(to right, #ff8c00, #ffcd94); font-family: 'Open Sans', sans-serif;">

<div class="container mt-5">
    <!-- Set your desired background color -->
    <h1 class="display-4 text-center">Welcome to OptiMunch</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="optimunchlogo.jpg" alt="OptiMunch" class="img-fluid rounded" />
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <p class="lead text-center">Explore our nutrition plans and start your journey towards a healthier lifestyle.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <SurveyPrompt Title="How is OptiMunch working for you?" />
        </div>
    </div>
</div>
</body>


